
#nametext{
    font-family: Helvetica;
    font-size: 12pt;
    color: #000000;
}
#welcometext{
    font-family: Helvetica;
    font-size: 12pt;
    color: #000000;
}

.account-container {
    display: flex; /* Use flexbox layout */
    flex-direction: row;
}
.welcome-container {
    display: block;           /* Ensure elements stack underneath */
    text-align: right;        /* Right-align text inside the welcome container */
}

.accountright{
    display: flex;
    justify-content: right; /* Center content horizontally */
    align-items: center; /* Center content vertically */

    gap: 10px;
    margin-right: 20px;
}

.welcome-container {

}




